/* Limpando config padrão de todos os seletores */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Trebuchet Ms", helvetica, sans-serif;
    background-color: #002b36;

}



/* INICIO -- Div Menu Principal */
#mainMenu{
    margin: 0;
    width: 95%;
    left: 25px;
    position: fixed;
    top: 1px;
    z-index: 1;   
}
#navHome{
    width: 40%;
    margin: 0 auto;
}
ul#navTop{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    background-color: #268bd2;
    float: left
}
ul#navTop li{
    float: left
}
ul#navTop a{
    display: block;
    text-decoration: none;
    color:	#fdf6e3;
    padding: 0 2em;
    line-height: 3em;
    background: url(../img/separador.png) repeat-y left top;
}
ul#navTop a:hover{
    background-color: #6c71c4;
}
#navTop .first a{
    background: none;
}
    
/* FIM -- Div Menu Principal */


/* Inicio Div Principal */
#container{
    border: 1px solid red;
    width: 95%;
    margin: 70px 0 30px 25px; 
    /* margin: 25px; */
    clear: both;/* Limpa o fluxo do float*/
}


/* Div Menu de Redes Social - Contato */
#menuContato{
    border: 1px solid black;
    width: 10%;
    position: fixed;
    top: 50%;
}

/* Div conteúdo  */
#Conteudo{
    margin: 0 0.5em;
    border: 1px solid black;
    float: right;
    width: 87%;
}

/* Div Rodapé */
#rodape{
    clear: both;/* Limpa o fluxo do float*/
    width: 95%;
    border: 1px solid black;
    text-align: center;
    position: fixed;
    top: 96%;
    line-height: 1.5em;
    z-index: 1;
    background-color: aqua;

}
/* Fim Div Principal */


/* Classes */
.clear{
    clear: both;
}