/* Limpando config padrão de todos os seletores */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Trebuchet Ms", helvetica, sans-serif;
    background: #696969 url(../img/Background.png) no-repeat fixed;
    z-index: 1;
    
}
/* INICIO -- Div Menu Principal */

#mainMenu{
    border: 5px solid salmon;
    margin: 0 auto;
    width: 504px;   
}
#navTop{
    border: 2px solid white;
    list-style: none;
    width: 501px;
    text-align: center;
    float: left;
}
#navTop li{
    background-color: #585858;
    float: left;
}
#navTop a{
    display: block;
    text-decoration: none;
    padding: 0 2em;
    line-height: 3em;
    background: url(../img/separador.png) repeat-y left top;
}


#navTop .firstClear a{
    background: none;
}

.clear{
    clear: both;
}
