/* Limpando config padrão de todos os seletores */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Trebuchet Ms", helvetica, sans-serif;
    background: #696969 url(../img/Background.png) no-repeat fixed;
    z-index: 1;
    
}
/* INICIO -- Div Menu Principal */

#mainMenu{
    
    width: 504px;
    position: fixed;
    left: 35%;

      
}
#navTop{
    margin: 30px 0 30px 0;
    border: 2px solid #888;
    list-style: none;
    width: 501px;
    background: #808080 url(../img/backgroundMenu.png) no-repeat left top;
    text-align: center;
    float: left;
    
}
#navTop li{
    
    float: left;
}
#navTop a{
    display: block;
    text-decoration: none;
    padding: 0 2em;
    color: #fff;
    line-height: 3em;
    background: url(../img/separador.png) repeat-y left top;
}

#navTop a:hover{

    background-color: #808080;
}


#navTop .firstClear a{
    background: none;
}

ul#navTop .select a{
    background-color: #808080;
} 

.clear{
    clear: both;
}
