/* Configuração gerais */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

/* Definindo o layout */
body{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr 120px;
  grid-template-areas: 
    "sidebar header"
    "sidebar content"
    "sidebar footer";
  height: 100vh;
}
/* Layout Responsivo */
@media(max-width: 575px){
  body{
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr 120px;
    grid-template-areas: 
    "header"
    "sidebar"
    "content"
    "footer";
  }
}

header.header{
  grid-area: header;
  background-color: royalblue;
}

aside.sidebar{
  grid-area: sidebar;
  background-color: salmon;
}

main.content{
  grid-area: content;
  background-color: slateblue;
}

footer.footer{
  grid-area: footer;
  background-color: teal;
}