<div class="projects-content">
    <div class="projects">

        <div class="projects-box">
            <a id="finans">
                <img src="assets/img/projects/web/finans.png" alt="" width="300" height="200">
            </a>
            <div class="more">Veja Mais</div>
            <div class="project-title">App Financeiro</div>
            <div class="project-description">
                Um app de finanças pessoais é uma ferramenta muito prática para você ter mais controle sobre seu dinheiro.
            </div>
            <div class="project-tags">HTML5, BootStrap, javascript, PHP, mysql</div>
                
        </div>

        <div class="projects-box">
            <a id="lucas-entregas">
                <img src="assets/img/projects/web/lucasentregas.png" alt="" width="300" height="200">
            </a>
            <div class="more">Veja Mais</div>
            <div class="project-title">App Moto Entrega</div>
            <div class="project-description">
                Sistema web, voltado para mercado de entrega de malotes de escritórios e mercadorias via motoboy
            </div>
            <div class="project-tags">HTML5, BootStrap, CSS3, JavaScript, PHP</div>
        </div>

        <div class="projects-box">
            <a id="ponto-eletronico">
                <img src="assets/img/projects/web/PontoOntime.png" alt="" width="300" height="200">
            </a>
            <div class="more">Veja Mais</div>
            <div class="project-title">App Ponto Eletronico</div>
            <div class="project-description">
                Sistema web, para gerenciar a jornada de trabalho dos colaboradores desde o registro do ponto até a gestão de forma prática
            </div>
            <div class="project-tags">HTML5, BootStrap, css3, JavaScript, mysql, php</div>
        </div>


        

    </div>    

    <nav aria-label="Navegação projeto web">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a class="page-link" id="webant02" tabindex="-1">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link" id="web1" href="">1</a></li>
            <li class="page-item"><a class="page-link" id="web2" href="">2</a></li>
            <li class="page-item active"><a class="page-link" id="web3"  href="">3</a></li>
            <li class="page-item disabled">
            <a class="page-link " href="#">Próximo</a>
            </li>
        </ul>
    </nav>

</div>

    
<script>
    $(document).ready(()=>{

        // btn
        $('#web1').on('click', e => {
            e.preventDefault()
            $('.content-portfolio').load('assets/templates/Projetos/Web/web-00.html')  
        })

        $('#web2').on('click', e => {
            e.preventDefault()
            $('.content-portfolio').load('assets/templates/Projetos/Web/web-01.html')  
        })

        $('#web3').on('click', e => {
            e.preventDefault()
            $('.content-portfolio').load('assets/templates/Projetos/Web/web-02.html')  
        })

        // prox e ant paginação
        $('#webant02').on('click', e => {
            e.preventDefault()
            $('.content-portfolio').load('assets/templates/Projetos/Web/web-02.html')  
        })

        // Modal app prioritario
        $('#finans').on('click', e =>{
            if($(window).width() > 800){
                $('.modal-contact').fadeToggle(500).animate({'top': '+=510'},1000)    
            }else{
                let top = $(e.target).position().top
                $('.modal-contact').fadeToggle(500).animate({'top': top},1000)
            }
            
        })
        $('#lucas-entregas').on('click', e =>{
            if($(window).width() > 800){
                $('.modal-contact').fadeToggle(500).animate({'top': '+=510'},1000)    
            }else{
                let top = $(e.target).position().top
                $('.modal-contact').fadeToggle(500).animate({'top': top},1000)
            }
        })
        $('#ponto-eletronico').on('click', e =>{
            if($(window).width() > 800){
                $('.modal-contact').fadeToggle(500).animate({'top': '+=510'},1000)    
            }else{
                let top = $(e.target).position().top
                $('.modal-contact').fadeToggle(500).animate({'top': top},1000)
            }
        })

        $('.modal-close-app').on('click', () =>{
            if($(window).width() > 800){
                $('.modal-contact').fadeToggle(500).animate({'top': '-=510'},1000)    
            }else{
                $('.modal-contact').fadeToggle(500).animate({'top': '720'},1000)
            }
            
        })


    })
</script>